@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blanco: #ffffff;
    --gris: #e2e2e2;
    --negro: #000000;
    --transparente: #ffffff10;
}

* {
    font-family: "Montserrat", sans-serif;
}















/* Estilos para la sección con video de fondo */
video {
    width: 100%;
    height: 100%;
}

.video-background {
    position: relative;
    overflow: hidden;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 767px) {
    .video-background video {
        height: 100%;
    }
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}


/* Ajusta el contenedor para ocupar la altura mínima de la pantalla */
.video-background {
    min-height: 100vh !important;
    display: flex !important;
    align-items: center !important;
}

/* Estilos para el modal "glass" rojo */
.glass-modal {
    background-color: rgba(255, 0, 0, 0.322);
    backdrop-filter: blur(10px);
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff !important;
}

.p-m {
    color: #ffffff !important;
}

/* Cambia el color de fondo del botón de cierre */
.glass-modal .modal-header .btn-close {
    color: #fff !important;
}

/* Iconos de advertencia */
.glass-modal .modal-title .bi {
    font-size: 1.5rem;
}

.btn-warning {
    color: #ffffff !important;
}

/* Cambia el color de la "X" para cerrar a blanco */
.btn-close-white {
    color: white;
}

