@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blanco: #ffffff;
    --gris: #5a5a5a;
    --negro: #000;
}

* {
    font-family: "Montserrat", sans-serif;
}

#encriptador {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.display-3 {
    font-weight: bold;
    color: var(--blanco);
}

.lead {
    font-weight: bold;
    color: var(--gris);
}

p {
    color: var(--blanco);
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el textarea "glass" */
.glass-textarea {
    background-color: #ffffff3d;
    border: 1px solid #fff;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: white !important;
    font-size: 2rem;
    padding: 10px;
    height: 200px;
    /* Ajusta la altura según tus necesidades */
}

.glass-textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
    /* Color del placeholder */
}

/* Estilos personalizados para el efecto "glass" en Bootstrap */

/* Anula el fondo blanco cuando el textarea obtiene el foco */
.glass-textarea:focus {
    background-color: transparent;
    box-shadow: none;
}

/* Establece el color del borde a blanco */
.glass-textarea {
    border-color: white;
}

/* Cambia el color del texto cuando se escribe */
.glass-textarea::placeholder,
.glass-textarea {
    color: white;
}

/* Ajusta el color del borde inferior en estado normal */
.glass-textarea {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* Anula el resplandor azul en el enfoque del textarea */
.glass-textarea:focus {
    box-shadow: none;
    border-color: white;
}

.bg-light {
    height: 40vh;
    background-color: #ffffff3d !important;
    border: 1px solid #fff;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: white !important;
    font-size: 2rem;
    padding: 10px;
    height: 200px;
}














/* Estilos para la sección con video de fondo */
video {
    width: 100%;
    height: 100%;
}

.video-background {
    position: relative;
    overflow: hidden;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 767px) {
    .video-background video {
        height: 100%;
    }
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}


/* Ajusta el contenedor para ocupar la altura mínima de la pantalla */
.video-background {
    min-height: 100vh !important;
    display: flex !important;
    align-items: center !important;
}

/* Estilos para el modal "glass" rojo */
.glass-modal {
    background-color: rgba(255, 0, 0, 0.322);
    backdrop-filter: blur(10px);
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff !important;
}

.p-m {
    color: #ffffff !important;
}

/* Cambia el color de fondo del botón de cierre */
.glass-modal .modal-header .btn-close {
    color: #fff !important;
}

/* Iconos de advertencia */
.glass-modal .modal-title .bi {
    font-size: 1.5rem;
}

.btn-warning {
    color: #ffffff !important;
}

/* Cambia el color de la "X" para cerrar a blanco */
.btn-close-white {
    color: white;
}

/* Estilos para la pantalla de carga */
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--negro);
    /* Fondo semi-transparente rojo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* Capa superior para que esté por encima de otros elementos */
    transition: opacity 0.5s;
    /* Transición suave de la opacidad */
    opacity: 1;
    /* Opacidad inicial */
}

/* Estilos para el spinner de carga */
.loader {
    border: 8px solid var(--blanco);
    /* Círculo exterior gris claro */
    border-top: 8px solid var(--gris);
    /* Círculo superior azul */
    border-radius: 50%;
    /* Borde redondeado para crear un círculo */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    /* Animación de rotación */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        /* Rotación inicial */
    }

    100% {
        transform: rotate(360deg);
        /* Rotación completa */
    }
}

/* Ocultar la pantalla de carga después de que la página haya cargado */
#content {
    display: none;
    /* Inicialmente oculto */
}